.table{

    background-color: #1F2039;
}

th,td{
    border: 1px solid black;
    padding: 50px;
}

table{
    border-collapse: collapse;
    font-family: Manrope;
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

section h1 {
    text-align: center;
}